<div class="jumbotron ScndJTron">
  <div class="average">
    <h2>Average Robot Age: <%= %><!-- Need to add code to bring info  --></br>
      Robots Hired by Year: <%= %><!-- Need to add code to bring info  --></br>
      Robots by Department: <%= %><!-- Need to add code to bring info  --></br>
      Robots by City: <%= %><!-- Need to add code to bring info  --></br>
      Robots by State: <%= %><!-- Need to add code to bring info  --></h2>
    </div>
  </div>
