<div class="jumbotron ScndJTron">
  <div class="average">
    &#9733; Average Robot Age: <%= @average_age %></br>
    &#9733; Robots Hired by Year: <%= @hired_by_year %></br>
    &#9733; Robots By Department: <%= @department_count %></br>
    &#9733; Robots By City: <%= @city_count %></br>
    &#9733; Robots By State: <%= @state_count %></br>
 </div>
</div>
