<div class="jumbotron">
  <div style="font-size:30px" class="average">
    Average Robot Age: <%= @average_age %></br>
    Robots Hired by Year: <%= @hired_by_year %></br>
    Robots By Department: <%= @department_count %></br>
    Robots By City: <%= @city_count %></br>
    Robots By State: <%= @state_count %></br>
 </div>
</div>
