<body>
  <div class="jumbotron ScndJTron">
    <h3>All Robots</h3>
    <div class="col-md-4">
      <table class="table">
        <thead>
          <td>#</td>
          <td>Robot</td>
        </thead>
        <% @robots.each do |robot| %>
        <tr>

          <td><%= robot.id%>:</td>
          <td><a href="/robots/<%= robot.id %>"><%= robot.name %></a></td>

          <td>
            <a href="/robots/<%= robot.id %>/edit">Edit Robot</a>

            <form action="/robots/<%= robot.id %>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="Delete Robot" />
            </form>

          </td>

        </tr>
        <% end %>
      </table>

      <a href="/robots/new">New Robot</a>
    </div>
  </div>

</body>
