<div class="container row">
  <div class="col-md-4">
    <img src="<%= @robot.avatar%>" >
  </div>

  <div class="col-md-4 robot-info">
   <p>Name: <%= @robot.name %></p>
   <p>City: <%= @robot.city %></p>
   <p>State: <%= @robot.state %></p>
   <p>Birthdate: <%= @robot.birthdate %></p>
   <p>Date Hired: <%= @robot.date_hired%></p>
   <p>Department: <%= @robot.department %></p>
  </div>

</div>
