<div  class="jumbotron ScndJTron">
  <div class="container row">
    <div class="col-md-4">
      <img src="<%= @robot.avatar%>" >
    </div>

    <div class="col-md-6 displaying">
      <strong><ins>Name:</strong> <%= @robot.name %></ins></br>
      <strong><ins>City:</strong> <%= @robot.city %></ins></br>
      <strong><ins>State:</strong> <%= @robot.state %></ins></br>
      <strong><ins>Birthdate:</strong> <%= @robot.birthdate %></ins></br>
      <strong><ins>Date Hired:</strong> <%= @robot.date_hired%></ins></br>
      <strong><ins>Department:</strong> <%= @robot.department %></ins></br>
    </div>

  </div>
</div>
